{% extends 'base.html.twig' %}
{% block body %}
    <!--
    <div class="col-md-12 text-center">                                            
        <h2 class="sin-margin">
            Secciones
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    -->
    <div class="col-md-10 text-center">                                            
        <strong>
            Usted está trabajando en el:<br /> {{ app.session.get('nbrFormulario') }}
        </strong>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-2 text-right">
           <!--Validar roles-->
                <a class="btn btn-info" href="{{path('centro_educativo_form_lista_evaluar')}}"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
           <!--fin-->
            <div class="clearfix capa-separador-1 border-bottom"></div>
            <div class="capa-separador-1"></div>
        </div>
    
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="col-sm-2 success"><strong>Código:</strong> </td><td clas="col-sm-10">{{ app.session.get('codCentroEducativo') }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 success"><strong>Centro educativo:</strong> </td><td clas="col-sm-10">{{ app.session.get('nbrCentroEducativo') }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 success"><strong>Formulario:</strong> </td><td class="col-sm-10">{{ app.session.get('nbrFormulario') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Código</th>
                        <th>Sección</th>
                        <th>Descripción</th>
                        <th class="text-center">Activo</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seccion in seccions %}
                        <tr>
                            <td class="text-center"><a href="{{ path('seccion_show', { 'id': seccion.idSeccion }) }}">{{ seccion.idSeccion }}</a></td>
                            <td class="text-center">{{ seccion.codSeccion }}</td>
                            <td>{{ seccion.nbrSeccion }}</td>
                            <td>{{ seccion.descripcionSeccion }}</td>
                            <td class="text-center">
                                {% if seccion.activo=='S' %}
                                    <span class="label label-success">Sí</span>
                                {% else %}
                                    <span class="label label-default">No</span
                                {% endif %}
                            </td>
                            <td>
                                {% if not idFormularioPorCentroEducativoRevisar %}
                                    <a class="btn btn-info" href="{{ path('seccion_show', { 'id': seccion.idSeccion }) }}">Mostrar</a>
                                {% else %}
                                    <form id="mostrarSeccion{{ seccion.idSeccion }}" action="{{ path('seccion_show', { 'id': seccion.idSeccion }) }}" method="post">
                                        <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ idFormularioPorCentroEducativoRevisar }}">
                                    </form>
                                    <a class="btn btn-info" href="#" onClick="$('#mostrarSeccion{{ seccion.idSeccion }}').submit();">Mostrar</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not idFormularioPorCentroEducativoRevisar and ( estadoFormularioPorCentroEducativo == 'DI' or estadoFormularioPorCentroEducativo == 'CO' ) %}
        <form id="secciones" method="POST" action="{{ path('seccion_terminar') }}">
            <div class="col-md-12 text-right">
                <button  data-toggle="confirmation" data-title="Seguro?" type="submit" name="Terminar" value="Terminar" class="btn btn-success">
                    <span class="glyphicon glyphicon-share-alt"></span> Terminar
                </button>
            </div>
        </form>
    {% elseif estadoFormularioPorCentroEducativo == 'TE' %}
        <form id="secciones" method="POST" action="{{ path('seccion_aprobar_rechazar') }}">
            <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ idFormularioPorCentroEducativoRevisar }}">
            <div class="col-md-12 text-right">
                <div class="btn-group" role="group" aria-label="accion">
                    <button type="submit" name="Aprobar" value="Aprobar" class="btn btn-success" data-toggle="confirmation" data-title="Seguro?"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Aprobar</button>
                    <button type="submit" name="Rechazar" value="Rechazar" class="btn btn-warning" data-toggle="confirmation" data-title="Seguro?"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Rechazar</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
