{% extends 'base.html.twig' %}

{% if idFormularioPorCentroEducativoRevisar %}
    {% set documento='aprobar-rechazar.png' %}
{% else %}
    {% set documento='instrumento-de-evaluacion-institucional.png' %}
{% endif %}

{% block body %}
    <div class="col-md-10 text-center">                                            
        <strong>
            Usted está trabajando en el:<br /> {{ app.session.get('nbrFormulario') }}
        </strong>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-2 text-right">
        {% if is_granted('ROLE_EVALUADOR') or is_granted('ROLE_REVISOR') %}
            {% if is_granted('ROLE_EVALUADOR') %}
                <a class="btn btn-info" href="{{path('centro_educativo_form_lista_evaluar')}}"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
            {% elseif is_granted('ROLE_REVISOR') %}
                <a class="btn btn-info" href="{{path('centro_educativo_form_lista_revisar')}}"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
            {% endif %}
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
        {% endif %}
    </div>
    
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="col-sm-2 success"><strong>Código:</strong> </td><td clas="col-sm-10">{{ app.session.get('codCentroEducativo') }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 success"><strong>Centro educativo:</strong> </td><td clas="col-sm-10">{{ app.session.get('nbrCentroEducativo') }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-2 success"><strong>Formulario:</strong> </td><td class="col-sm-10">{{ app.session.get('codFormulario') ~ ' - ' ~ app.session.get('nbrFormulario') }}</td>
                    </tr>
                    {% if archivoSubido %}
                        <tr>
                            <td class="col-sm-2 success">
                                <strong>Instrumento digitalizado:</strong>
                            </td>
                            <td class="col-sm-10">
                                <form action="{{ path('form_archivo_descargar') }}" target="_blank">
                                {% if idFormularioPorCentroEducativoRevisar %}
                                    <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ idFormularioPorCentroEducativoRevisar }}">
                                {% endif %}
                                    <button type="submit" name="Descargar" value="Descargar" class="btn btn-info"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Descargar</button>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Código</th>
                        <th>Sección</th>
                        <th>Descripción</th>
                        <th class="text-center">Activo</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for seccion in seccions %}
                        <tr>
                            <td class="text-center"><a href="{{ path('seccion_show', { 'id': seccion.idSeccion }) }}">{{ seccion.idSeccion }}</a></td>
                            <td class="text-center">{{ seccion.codSeccion }}</td>
                            <td>{{ seccion.nbrSeccion }}</td>
                            <td>{{ seccion.descripcionSeccion }}</td>
                            <td class="text-center">
                                {% if seccion.activo=='S' %}
                                    <span class="label label-success">Sí</span>
                                {% else %}
                                    <span class="label label-default">No</span
                                {% endif %}
                            </td>
                            <td>
                                {% if not idFormularioPorCentroEducativoRevisar %}
                                    <a class="btn btn-info" href="{{ path('seccion_show', { 'id': seccion.idSeccion }) }}">Mostrar</a>
                                {% else %}
                                    <form id="mostrarSeccion{{ seccion.idSeccion }}" action="{{ path('seccion_show', { 'id': seccion.idSeccion }) }}" method="post">
                                        <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ idFormularioPorCentroEducativoRevisar }}">
                                    </form>
                                    <a class="btn btn-info" href="#" onClick="$('#mostrarSeccion{{ seccion.idSeccion }}').submit();">Mostrar</a>
                                {% endif %}
                                {% if seccion.cntRevisar + seccion.cntRevisarHija > 0 %}
                                    <span class="cursor label label-warning">[Revisar]</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if not idFormularioPorCentroEducativoRevisar and estadoFormularioPorCentroEducativo in ['NU','DI','RE','CO'] %}
        <form id="secciones" method="POST" action="{{ path('seccion_terminar') }}">
            <div class="col-md-12 text-right">
                <div class="btn-group btnk" role="group">
                    <a href='{{path('form_archivo_instrumento')}}' class='btn btn-success'>
                        <span class="glyphicon glyphicon-cloud-upload"></span> Cargar archivo
                    </a>
                {% if estadoFormularioPorCentroEducativo != 'NU' %}
                    <button  data-toggle="confirmation" data-title="¿Seguro?" type="submit" name="Terminar" value="Terminar" class="btn btn-success">
                        <span class="glyphicon glyphicon-share-alt"></span> Terminar
                    </button>
                {% endif %}
                </div>
                
            </div>
        </form>
    {% elseif estadoFormularioPorCentroEducativo == 'TE' %}
        <form id="secciones" method="POST" action="{{ path('seccion_aprobar_rechazar') }}">
            <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ idFormularioPorCentroEducativoRevisar }}">
            <div class="col-md-12 text-right">
                <div class="btn-group" role="group" aria-label="accion">
                    <button type="submit" name="Aprobar" value="Aprobar" class="btn btn-success" data-toggle="confirmation" data-title="¿Seguro?"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Aprobar</button>
                    <button type="submit" name="Rechazar" value="Rechazar" class="btn btn-warning" data-toggle="confirmation" data-title="¿Seguro?"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Rechazar</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
