{% extends 'base.html.twig' %}
    {% block body %}
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td class="col-sm-2 success"><strong>Código:</strong> </td><td clas="col-sm-10">{{ app.session.get('codCentroEducativo') }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-2 success"><strong>Centro educativo:</strong> </td><td clas="col-sm-10">{{ app.session.get('nbrCentroEducativo') }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-2 success"><strong>Formulario:</strong> </td><td class="col-sm-10">{{ app.session.get('nbrFormulario') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if idFormularioPorCentroEducativoRevisar %}
                <form id="mostrarSecciones{{ idFormularioPorCentroEducativoRevisar }}" action="{{ path('seccion_index') }}" method="post">
                    <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ idFormularioPorCentroEducativoRevisar }}">
                </form>
            {% endif %}
            <form id="seccion{{ seccion.idSeccion }}" method="POST" action="{{ path('seccion_guardar') }}">
                <div class="col-md-2 col-md-offset-10 text-right">
                    {% if not idFormularioPorCentroEducativoRevisar %}
                        <a class="btn btn-info" href="{{ path('seccion_index') }}"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
                    {% else %}
                        <a class="btn btn-info" href="#" onClick="$('#mostrarSecciones{{ idFormularioPorCentroEducativoRevisar }}').submit();"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>
                    {% endif %}
                </div>
                    <div class="clearfix capa-separador-1"></div>
                    {% if idFormularioPorCentroEducativoRevisar %}
                        {% set readonly, disabled = 'readonly', 'disabled' %}
                    {% else %}
                        {% set readonly, disabled = '', '' %}
                    {% endif %}
                    {% for pregunta in seccion.preguntas %}
                        {% if idFormularioPorCentroEducativoRevisar or revisar[pregunta.idPregunta] is defined %}
                            {% if idFormularioPorCentroEducativoRevisar %}
                                {% set onClickRevisar = 'onClick="marcarRevisar($(this),' ~ idFormularioPorCentroEducativoRevisar ~ ',' ~ pregunta.idPregunta ~ ');"' %}
                            {% else %}
                                {% set onClickRevisar = '' %}
                            {% endif %}
                            {% if revisar[pregunta.idPregunta] is defined %}
                                {% set classRevisar = 'class="revisar"' %}
                            {% else %}
                                {% set classRevisar = '' %}
                            {% endif %}
                            {% set btRevisar = '<span ' ~ onClickRevisar ~ ' ' ~ classRevisar ~ '>[Revisar]</span>' %}
                        {% else %}
                            {% set btRevisar = '' %}
                        {% endif %}
                        {% if not pregunta.idPreguntaPadre %}
                            {% include 'pregunta/showAsForm.html.twig' with {'pregunta': pregunta, 'respuestas': respuestas, 'ponderaciones': ponderaciones, 'idFormularioPorCentroEducativoRevisar': idFormularioPorCentroEducativoRevisar} %}
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-12 text-right">
                        <input type="hidden" name="idSeccion" value="{{ seccion.idSeccion }}">
                        {% if not idFormularioPorCentroEducativoRevisar %}
                            <input type="submit" name="Guardar" value="Guardar" class="btn btn-success">
                        {% endif %}
                    </div>
            </form>
        </div>
    {% endblock %}
