<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sistema de Acreditación{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/bootstrap-datetimepicker.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <!--Inicia menú-->
    <div class="container-fluid sin-padding navbar-fixed-top">
        <div class="header-control fondo-2 text-color-1">
            <div class="container">
                <div class="col-md-8">
                    <div class="logo">
                        <img src="{{ asset('images/logo.png') }}" />
                    </div>
                    <div class="logo-text">
                        <h3 class="sin-margin">
                            Sistema de Acreditación
                        </h3>    
                    </div>
                </div>
                <div class="col-md-4 text-right z-index-1">
                    {#<div class="btn-group">
                        {% if num_form==1%}
                            <a href="" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Hay formularios pendientes de calificar">
                                <span class="glyphicon glyphicon-bell"></span>
                            </a>
                        {%endif%}
                    </div>#}
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                Hola, {{ app.user.nombres }}
                            {% else %}
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                Hola
                            {% endif %}
                        </button>
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_change_password') }}">Cambiar clave</a></li>
                            <li><a href="{{ path('acreditacion_pre_logout') }}">Salir del sistema</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse navbar-static-top fondo-1 href-color-1 sin-border">
            <div class="container">
                <div class="navbar-header dispositivo-movil">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="#">Menú</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <ul class="nav navbar-nav">
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{path('acreditacion_homepage')}}">Inicio</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuarios <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('usuario_new') }}">Registrar</a></li>
                                        <li><a href="{{ path('usuario_index') }}">Mantenimiento</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MINED') or is_granted('ROLE_DIGITADOR') or is_granted('ROLE_REVISOR') or is_granted('ROLE_COORDINADOR') or is_granted('ROLE_ACREDITADOR') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Centros educativos <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% if is_granted('ROLE_MINED') %}
                                            <li><a href="{{path('centro_educativo_add')}}">Registrar</a></li>
                                            <li><a href="{{path('centro_educativo_lista')}}">Mantenimiento</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_DIGITADOR') %}
                                            <li><a href="{{path('centro_educativo_form_dig_corr')}}">Digitar o corregir formulario</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_REVISOR') %}
                                            <li><a href="{{path('centro_educativo_form_lista_revisar')}}">Revisar formulario</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_COORDINADOR') %}
                                            <li><a href="{{path('centro_educativo_form_lista_evaluar')}}">Evaluar formulario</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ACREDITADOR') %}
                                            <li><a href="{{path('centro_educativo_registrar_acreditacion')}}">Registrar acreditación</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_MINED') or is_granted('ROLE_COORDINADOR') or is_granted('ROLE_ACREDITADOR') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span> Reportes <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li><a href="{{ path('reporte_actividad_usuario_form') }}">Actividad de usuarios</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_MINED') %}
                                            <li><a href="{{path('reporte_general_cedu')}}">Información general del centro educativo</a></li>
                                            <li><a href="{{path('reporte_x_zona')}}">Centros educativos por departamento</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_COORDINADOR') or is_granted('ROLE_ACREDITADOR') %}
                                            <li><a href="{{path('reporte_cuantitativo_cualitativo')}}">Cuantitativo y cualitativo</a></li>
                                            <li><a href="{{path('reporte_x_estado')}}">Estado de acreditación por año</a></li>
                                            <li><a href="{{path('reporte_x_rango_fecha')}}">Promedios por criterio/indicador</a></li>
                                            <li><a href="{{path('reporte_form_estado_actual_cedu')}}">Estado actual de centros educativos</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
    <!--fin menú-->
    
    <!--Alertas-->
    {% for flash_message in app.session.flashBag.get('error') %}
    <div class="container" id="warning-alert">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Error! <br /></strong>
                    {{ flash_message|raw }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--Fin alertas-->
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                {% block ayuda %}
                    {% if documento is defined %}
                        <div class="ayuda-sistema">
                            <a href="{{ asset('documentos/' ~ documento) }}" target="_ventana">
                                <span class="glyphicon glyphicon-info-sign"></span> Ayuda
                            </a>
                        </div>
                    {%endif%}
                {% endblock %}
               {% block body %}{% endblock %}
           </div>
        </div>
    </div>
    <div class="container">
        <div class="capa-separador-1"></div>
        <div class="col-md-12 text-right text-color-2 border-top">
            <div class="header-control-footer">
                Sistema de Acreditación <br />               
                V 1.0
            </div>
        </div>
    </div>
   {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-confirmation.min.js') }}"></script>
       
        <script>
            $('[data-toggle="confirmation"]').confirmation({
                href: function(elem){
                    return $(elem).attr('href');
                }
            });
        </script>
        <script src="{{ asset('js/moment-with-locales.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $('#fecha,#fechaIniDiv,#fechaIni,#fechaFinDiv,#fechaFin,#fechaAplicacion,#FE_9,#fechaDiv,#fechaInicio,#FE_304').datetimepicker({
                    locale: 'es',
                    format: 'DD-MM-YYYY'
                });
                $('#fecha_annio1,#fecha_annio,#anno,#anno_rango1,#CuotaAnualPorGradoEscolarPorCentroEducativoType_anno').datetimepicker({
                    viewMode: 'years',
                    locale: 'es',   
                    format: 'YYYY'
                });
                $('#anno_rango2,#fecha_annio2').datetimepicker({
                    viewMode: 'years',
                    locale: 'es',   
                    format: 'YYYY',
                    useCurrent: false
                });
                $("#anno_rango1,#fechaIni,#fecha_annio").on("dp.change", function (e) {
                $('#anno_rango2,#fechaFin,#fecha_annio2').data("DateTimePicker").minDate(e.date);
                });
                $("#anno_rango2,#fechaFin,#fecha_annio2").on("dp.change", function (e) {
                $("#anno_rango1,#fechaIni,#fecha_annio").data("DateTimePicker").maxDate(e.date);
                });
            });
        </script>
         <script src="{{ asset('js/lib.js') }}"></script>
   {% endblock %}
</body>
</html>