<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sistema de Acreditación{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
        <div class="row">
           {% block body %}{% endblock %}
        </div>
    </div>
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
        <script>
            $( document ).ready( function () {
                $( "#form_validar_login" ).validate( {
                    rules: {
                        _username: {
                            required: true,
                            minlength: 4,
                        },
    		            _password:{
    		                required: true,
    		                minlength: 4,
    		            },
    		        },
    		        messages: {
    		            _username: {
				            required: "Nombre de usuario es requerido",
				            minlength: "El nombre de usuarios debe superar los 4 caracteres"
			            },
			            _password: {
				            required: "Por favor digite el su clave de acceso",
				            minlength: "La clave debe superar los 4 caracteres"
			            },
    		        },
    		        highlight: function(element) {
                        $(element).closest('.form-group').addClass('has-error').removeClass( "has-success" );
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').addClass( "has-success" ).removeClass('has-error');
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function(error, element) {
                        if(element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    }
    	        });
            });
        </script>
   {% endblock %}
</body>
</html>
