{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 text-center">                                            
        <h2 class="sin-margin">
            Lista de preguntas
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Cod</th>
                        <th>Descripción</th>
                        <!--<th>Textolongitudmaxima</th>-->
                        <!--<th>Textomascara</th>-->
                        <!--<th>Valorminimorespuesta</th>-->
                        <!--<th>Valormaximorespuesta</th>-->
                        <!--<th>Opcionotro</th>-->
                        <!--<th>Opcionotrotexto</th>-->
                        <!--<th>Opcionnoaplica</th>-->
                        <!--<th>Opcionnoaplicatexto</th>-->
                        <!--<th>Idpreguntapadre</th>-->
                        <!--<th>Encabezadosubpreguntas</th>-->
                        <!--<th>Numerarsubpreguntas</th>-->
                        <!--<th>Cantidadcolumnassubpreguntas</th>-->
                        <!--<th>Totalesfilas</th>-->
                        <!--<th>Totalescolumnas</th>-->
                        <th>Activo</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for preguntum in preguntas %}
                        <tr>
                            <td class="text-center"><a href="{{ path('pregunta_show', { 'id': preguntum.idPregunta }) }}">{{ preguntum.idPregunta }}</a></td>
                            <td>{{ preguntum.codPregunta }}</td>
                            <td>{{ preguntum.descripcionPregunta }}</td>
                            <!--<td>{{ preguntum.textoLongitudMaxima }}</td>-->
                            <!--<td>{{ preguntum.textoMascara }}</td>-->
                            <!--<td>{{ preguntum.valorMinimoRespuesta }}</td>-->
                            <!--<td>{{ preguntum.valorMaximoRespuesta }}</td>-->
                            <!--<td>{{ preguntum.opcionOtro }}</td>-->
                            <!--<td>{{ preguntum.opcionOtroTexto }}</td>-->
                            <!--<td>{{ preguntum.opcionNoAplica }}</td>-->
                            <!--<td>{{ preguntum.opcionNoAplicaTexto }}</td>-->
                            <!--<td>{{ preguntum.idPreguntaPadre ? preguntum.idPreguntaPadre.idPregunta : null }}</td>-->
                            <!--<td>{{ preguntum.encabezadoSubPreguntas }}</td>-->
                            <!--<td>{{ preguntum.numerarSubPreguntas }}</td>-->
                            <!--<td>{{ preguntum.cantidadColumnasSubPreguntas }}</td>-->
                            <!--<td>{{ preguntum.totalesFilas }}</td>-->
                            <!--<td>{{ preguntum.totalesColumnas }}</td>-->
                            <!--<td class="text-center">{{ preguntum.activo }}</td>-->
                            <td class="text-center">
                                {% if preguntum.activo=='S' %}
                                    <span class="btn btn-success">Sí</span>
                                {% else %}
                                    <span class="btn btn-warning">No</span
                                {% endif %}
                            </td>
                            <td>
                                <!--<ul>
                                <li>-->
                                <a class="btn btn-info" href="{{ path('pregunta_show', { 'id': preguntum.idPregunta }) }}">Mostrar</a>
                                <!--</li>
                                </ul>-->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
