<td>
    {{ pregunta.descripcionPregunta }}
</td>
{% if pregunta.idPreguntaPadre.totalesFilas == 'S' or pregunta.idPreguntaPadre.totalesColumnas == 'S' %}
    {% set onChange = 'calcularTotalesPregunta' ~ pregunta.idPreguntaPadre.idTipoPregunta.codTipoPregunta ~ pregunta.idPreguntaPadre.idPregunta ~ '($(this));' %}
{% else %}
    {% set onChange = '' %}
{% endif %}
<td class="col-xs-2">
    {% for opcion in opciones %}
        {% if opcion.texto %}
            {% if respuestas[pregunta.idPregunta] is defined and respuestas[pregunta.idPregunta]==opcion.codigo %}
                {% set checked = 'checked' %}
            {% else %}
                {% set checked = '' %}
            {% endif %}
            <label class="checkbox-inline btn btn-info">
            <input type='radio' class='subPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}' id='{{ id }}_{{ opcion.codigo }}' name='{{ id }}' onChange='{{ onChange }}' value='{{ opcion.codigo }}' {{ checked }} {{ disabled }}> {{ opcion.texto }}
                </label>
        {% endif %}
    {% endfor %}
</td>
