{% for opcion in opciones %}
    {% if opcion.texto %}
        {% if respuestas[pregunta.idPregunta] is defined and respuestas[pregunta.idPregunta]==opcion.codigo %}
            {% set checked = 'checked' %}
        {% else %}
            {% set checked = '' %}
        {% endif %}
        <label class="checkbox-inline btn btn-info btn-xs">
            <input type='radio' class='subPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}' id='{{ id }}' name='{{ id }}' value='{{ opcion.codigo }}' {{ checked }} {{ disabled }} {{ ( pregunta.jsOnChange ? "onChange=\"" ~ pregunta.jsOnChange ~ "\"" : null )|raw }}>{{ opcion.texto }}
        </label>
    {% endif %}
{% endfor %}
{{ btRevisar|raw }}
{{ btPuntuacion|raw }}
