{% for opcion in opciones %}
    {% if opcion.descripcionOpcionRespuesta %}
        {% if respuestas[pregunta.idPregunta][idFila] is defined and respuestas[pregunta.idPregunta][idFila]==opcion.codOpcionRespuesta %}
            {% set checked = 'checked' %}
        {% else %}
            {% set checked = '' %}
        {% endif %}
        <label class="checkbox-inline btn btn-info">
            <input type='radio' class='subPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}' id='{{ id }}' name='{{ id }}' value='{{ opcion.codOpcionRespuesta }}' {{ checked }} {{ disabled }}> {{ opcion.descripcionOpcionRespuesta }}
        </label>
    {% endif %}
{% endfor %}
{{ btRevisar|raw }}
