{% if pregunta.opcionNoAplica %}
    <div class="form-group">
        <input type='checkbox' class='tipoPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}NoAplica form-control'
        id='{{ pregunta.idTipoPregunta.codTipoPregunta }}NoAplica_{{ pregunta.idPregunta }}'
        name='{{ pregunta.idTipoPregunta.codTipoPregunta }}NoAplica_{{ pregunta.idPregunta }}'
        onClick="$('#{{ id }}').prop('disabled',!$('#{{ id }}').prop('disabled'));">{{ pregunta.opcionNoAplicaTexto }}
    </div>
{% endif %}
{% if pregunta.idPreguntaPadre.totalesFilas == 'S' or pregunta.idPreguntaPadre.totalesColumnas == 'S' %}
    {% set onChange = 'calcularTotalesPregunta' ~ pregunta.idPreguntaPadre.idTipoPregunta.codTipoPregunta ~ pregunta.idPreguntaPadre.idPregunta ~ '($(this));' %}
{% else %}
    {% set onChange = '' %}
{% endif %}
{% if respuestas[pregunta.idPregunta][idFila] is defined %}
    {% set value = respuestas[pregunta.idPregunta][idFila] %}
{% else %}
    {% set value = '' %}
{% endif %}
<input type='text' class='tipoPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }} form-control' id='{{ id }}' name='{{ id }}' {{ maxLength }} onChange='{{ onChange }}' value='{{ value }}' {{ readonly }}>
{{ btRevisar|raw }}
