<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th colspan={{ pregunta.cantidadColumnasSubPreguntas }}>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                {% set idx = 0 %}
                {% for subPregunta in pregunta.subPreguntas %}
                    {% if idx % pregunta.cantidadColumnasSubPreguntas == 0 %}
                        {% if idx > 0 %}
                            </tr>
                        {% endif %}
                        <tr>
                    {% endif %}
                    {% if subPregunta.idTipoPregunta.codTipoPregunta == 'SM' %}
                        <td>
                            {% if idFormularioPorCentroEducativoRevisar or revisar[subPregunta.idPregunta] is defined %}
                                {% if idFormularioPorCentroEducativoRevisar %}
                                    {% set onClickRevisar = 'onClick="marcarRevisar($(this),' ~ idFormularioPorCentroEducativoRevisar ~ ',' ~ subPregunta.idPregunta ~ ');"' %}
                                {% else %}
                                    {% set onClickRevisar = '' %}
                                {% endif %}
                                {% if revisar[subPregunta.idPregunta] is defined %}
                                    {% set classRevisar = 'class="revisar-alerta revisar"' %}
                                {% else %}
                                    {% set classRevisar = 'class="revisar-alerta"' %}
                                {% endif %}
                                {% set btRevisar = '<span ' ~ onClickRevisar ~ ' ' ~ classRevisar ~ '>[Revisar]</span>' %}
                            {% else %}
                                {% set btRevisar = '' %}
                            {% endif %}
                            {{ subPregunta.descripcionPregunta }}
                            {% include 'pregunta/showAsForm.html.twig' with {'pregunta': subPregunta} %}
                        </td>
                    {% elseif subPregunta.idTipoPregunta.codTipoPregunta == 'TA' %}
                        </tr>
                        <tr>
                            <td colspan={{ pregunta.cantidadColumnasSubPreguntas }}>
                                {{ subPregunta.descripcionPregunta }}
                                {% include 'pregunta/showAsForm.html.twig' with {'pregunta': subPregunta} %}
                            </td>
                        </tr>
                    {% endif %}
                    {% set idx = idx + 1 %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
