<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr class="bg-info">
                    <th>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                <tr>
                    <td>
                        {% for opcion in opciones %}
                            {% if opcion.codOpcionRespuesta %}
                                {% if respuestas[pregunta.idPregunta] is defined and respuestas[pregunta.idPregunta]==opcion.codOpcionRespuesta %}
                                    {% set checked = 'checked' %}
                                {% else %}
                                    {% set checked = '' %}
                                {% endif %}
                                <label class="checkbox-inline btn btn-info">
                                    <input type='radio' class='tipoPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}' id='{{ id }}' name='{{ id }}' value='{{ opcion.codOpcionRespuesta }}' {{ checked }} {{ disabled }}> {{ opcion.descripcionOpcionRespuesta }}
                                </label>
                            {% endif %}
                        {% endfor %}
                        {{ btRevisar|raw }}
                        {{ btPuntuacion|raw }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>