<div class="col-md-12">
    <div class="table-responsive">
        {{ btPuntuacion|raw }}
        <table class="table table-bordered table-criterio">
            <tbody>
                <tr class="bg-info">
                    <th colspan={{ pregunta.subPreguntas|length + (pregunta.totalesFilas == 'S' or pregunta.totalesColumnas == 'S' ? 1 : 0) }}>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                <tr>
                    {% set columnaFija = null %}
                    {% for subPregunta in pregunta.subPreguntas %}
                        <th>
                            {{ subPregunta.descripcionPregunta }}
                        </th>
                        {% if subPregunta.idTipoPregunta.codTipoPregunta == 'CF' %}
                            {% set columnaFija = subPregunta %}
                        {% endif %}
                    {% endfor %}
                    {% if pregunta.totalesFilas == 'S' %}
                        <th>
                            Total
                        </th>
                    {% endif %}
                </tr>
                {% set sumaFila, sumaFila2, sumaFilas, ceroColumnas, sumaColumnas, existePreguntaSiNo = '', '', '', '', '', false %}
                {% for fila in columnaFija.opcionesRespuesta %}
                    {% set sumaFila, sumaFila2, ceroColumnas = '', '', '' %}
                    {% if fila.encabezadoOpciones %}
                        <tr>
                            <th colspan={{ pregunta.subPreguntas|length + (pregunta.totalesFilas == 'S' or pregunta.totalesColumnas == 'S' ? 1 : 0) }}>
                                {{ fila.encabezadoOpciones }}
                            </th>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>
                            {{ fila.descripcionOpcionRespuesta }}
                        </th>
                        {% for subPregunta in pregunta.subPreguntas %}
                            {% set subId = "idFila" ~ fila.idOpcionRespuesta ~ "_idColumna" ~ subPregunta.idPregunta %}
                            {% if subPregunta.idTipoPregunta.codTipoPregunta == 'SN' %}
                                {% set existePreguntaSiNo = true %}
                            {% endif %}
                            {% if subPregunta.idTipoPregunta.codTipoPregunta != 'CF' %}
                                <td>
                                    {% if estadoFormularioPorCentroEducativo in ['RE','CO','TE','AP'] and ( idFormularioPorCentroEducativoRevisar or revisar[subPregunta.idPregunta] is defined ) %}
                                        {% if idFormularioPorCentroEducativoRevisar %}
                                            {% set onClickRevisar = 'onClick="marcarRevisar($(this),' ~ idFormularioPorCentroEducativoRevisar ~ ',' ~ subPregunta.idPregunta ~ ',' ~ fila.idOpcionRespuesta ~ ');"' %}
                                        {% else %}
                                            {% set onClickRevisar = '' %}
                                        {% endif %}
                                        {% if revisar[subPregunta.idPregunta][fila.idOpcionRespuesta] is defined %}
                                           {# {% set classRevisar = 'class="revisar-alerta revisar-item"' %}#}
                                           {% set classRevisar = 'class="cursor label label-warning"' %}
                                        {% else %}
                                            {#{% set classRevisar = 'class="revisar-alerta"' %}#}
                                            {% set classRevisar = 'class="cursor label label-success"' %}
                                        {% endif %}
                                        {% set btRevisar = '<span ' ~ onClickRevisar ~ ' ' ~ classRevisar ~ '>[Revisar]</span>' %}
                                    {% else %}
                                        {% set btRevisar = '' %}
                                    {% endif %}

                                    {% include 'pregunta/showAsForm.html.twig' with {'pregunta': subPregunta, 'idFila': fila.idOpcionRespuesta} %}
                                    {% if pregunta.totalesFilas == 'S' %}
                                        {% if subPregunta.idTipoPregunta.codTipoPregunta == 'TA' %}
                                            {% set sumaFila = sumaFila ~ "+($.isNumeric($('#" ~ subId ~ "').val())?parseFloat($('#" ~ subId ~ "').val()):0)" %}
                                        {% elseif subPregunta.idTipoPregunta.codTipoPregunta == 'SN' %}
                                            {% set sumaFila = sumaFila ~ "+($('#" ~ subId ~ "_S').prop('checked')?1:0)" %}
                                            {% set sumaFila2 = sumaFila2 ~ "+($('#" ~ subId ~ "_N').prop('checked')?1:0)" %}
                                        {% endif %}
                                    {% endif %}

                                    {% if pregunta.totalesColumnas == 'S' %}
                                        {% set subTotalColumnaId = "subtotalColumna_" ~ subPregunta.idPregunta %}
                                        {% set ceroColumnas = ceroColumnas ~ "$('#" ~ subTotalColumnaId ~ "').val(0); " %}
                                        {% if subPregunta.idTipoPregunta.codTipoPregunta == 'TA' %}
                                            {% set sumaColumnas = sumaColumnas ~ "$('#" ~ subTotalColumnaId ~ "').val(
                                                ($.isNumeric($('#" ~ subTotalColumnaId ~ "').val())?parseFloat($('#" ~ subTotalColumnaId ~ "').val()):0)+
                                                ($.isNumeric($('#" ~ subId ~ "').val())?parseFloat($('#" ~ subId ~ "').val()):0)
                                            ); " %}
                                        {% elseif subPregunta.idTipoPregunta.codTipoPregunta == 'SN' %}
                                            {% set sumaColumnas = sumaColumnas ~ "$('#" ~ subTotalColumnaId ~ "').val(
                                                ($.isNumeric($('#" ~ subTotalColumnaId ~ "').val())?parseFloat($('#" ~ subTotalColumnaId ~ "').val()):0)+
                                                ($('#" ~ subId ~ "_S').prop('checked')?1:0)
                                            ); " %}
                                        {% endif %}
                                    {% endif %}

                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if pregunta.totalesFilas == 'S' %}
                            <td class="text-center">
                                {% if existePreguntaSiNo %}
                                    {% set sumaFila = "$('#subtotalFila_" ~ fila.idOpcionRespuesta ~ "_si').val(0" ~ sumaFila ~ "); " %}
                                    {% set sumaFila2 = "$('#subtotalFila_" ~ fila.idOpcionRespuesta ~ "_no').val(0" ~ sumaFila2 ~ "); " %}
                                    <input class="form-control" type='text' id='subtotalFila_{{ fila.idOpcionRespuesta }}_si' readonly>
                                    <input class="form-control" type='text' id='subtotalFila_{{ fila.idOpcionRespuesta }}_no' readonly>
                                {% else %}
                                    {% set sumaFila = "$('#subtotalFila_" ~ fila.idOpcionRespuesta ~ "').val(0" ~ sumaFila ~ "); " %}
                                    <input class="form-control" type='text' id='subtotalFila_{{ fila.idOpcionRespuesta }}' readonly>
                                {% endif %}
                                {% set sumaFilas = sumaFilas ~ sumaFila ~ sumaFila2 %}
                                {% set ceroColumnas = ceroColumnas ~ "$('#total_" ~ pregunta.idTipoPregunta.codTipoPregunta ~ '_' ~ pregunta.idPregunta ~ "').val(0); " %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if pregunta.totalesColumnas == 'S' %}
                    <tr>
                        <th>
                            Total
                        </th>
                        {% for subPregunta in pregunta.subPreguntas %}
                            {% if subPregunta.idTipoPregunta.codTipoPregunta != 'CF' %}
                                <td>
                                    <input class="form-control" type='text' id='subtotalColumna_{{ subPregunta.idPregunta }}' readonly>
                                    {% if pregunta.totalesFilas == 'S' %}
                                        {% set sumaColumnas = sumaColumnas ~ "$('#total_" ~ pregunta.idTipoPregunta.codTipoPregunta ~ '_' ~ pregunta.idPregunta ~ "').val(parseInt($('#total_" ~ pregunta.idTipoPregunta.codTipoPregunta ~ '_' ~ pregunta.idPregunta ~ "').val())+parseInt($('#subtotalColumna_" ~ subPregunta.idPregunta ~ "').val())); " %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if pregunta.totalesFilas == 'S' %}
                            <td>
                                <input class="form-control" type='text' id='total_{{ pregunta.idTipoPregunta.codTipoPregunta }}_{{ pregunta.idPregunta }}' readonly>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% if pregunta.totalesFilas == 'S' or pregunta.totalesColumnas == 'S' %}
            <script languaje='javascript'>
                function calcularTotalesPregunta{{ pregunta.idTipoPregunta.codTipoPregunta ~ pregunta.idPregunta }}(control){
                    if(control && control.attr('type')=='text' && !$.isNumeric(control.val())){
                        control.val('');
                    }
                    {% if pregunta.totalesFilas == 'S' %}
                        {{ sumaFilas|raw }}
                    {% endif %}
                    {% if pregunta.totalesColumnas == 'S' %}
                        {{ ceroColumnas|raw }}
                        {{ sumaColumnas|raw }}
                    {% endif %}
                }
                setTimeout(function(){ calcularTotalesPregunta{{ pregunta.idTipoPregunta.codTipoPregunta ~ pregunta.idPregunta }}(null); }, 1000);
            </script>
        {% endif %}
    </div>
</div>
