<div class="col-md-12">
    <div class="table-responsive">
        {{ btPuntuacion|raw }}
        <table class="table table-bordered table-criterio">
            <tbody>
                <tr>
                    <th colspan={{ pregunta.cantidadColumnasSubPreguntas }}>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                {% set idx = 0 %}
                {% for subPregunta in pregunta.subPreguntas %}

                    {% set readonly, disabled = readonlyOrg, disabledOrg %}

                    {% if idx % pregunta.cantidadColumnasSubPreguntas == 0 %}
                        {% if idx > 0 %}
                            </tr>
                        {% endif %}
                        <tr>
                    {% endif %}
                    {% if subPregunta.idTipoPregunta.codTipoPregunta == 'SM' %}
                        <td>
                            {% if estadoFormularioPorCentroEducativo in ['RE','CO','TE','AP'] and ( idFormularioPorCentroEducativoRevisar or revisar[subPregunta.idPregunta] is defined ) %}
                                {% if idFormularioPorCentroEducativoRevisar %}
                                    {% set onClickRevisar = 'onClick="marcarRevisar($(this),' ~ idFormularioPorCentroEducativoRevisar ~ ',' ~ subPregunta.idPregunta ~ ');"' %}
                                {% else %}
                                    {% set onClickRevisar = '' %}
                                {% endif %}
                                {% if revisar[subPregunta.idPregunta] is defined %}
                                    {#{% set classRevisar = 'class="revisar-alerta revisar-item"' %}#}
                                    {% set classRevisar = 'class="cursor label label-warning"' %}

                                    {% if estadoFormularioPorCentroEducativo in ['RE','CO'] %}
                                        {% set readonly, disabled = '', '' %}
                                    {% endif %}

                                {% else %}
                                    {% set classRevisar = 'class="cursor label label-success"' %}
                                    {#{% set classRevisar = 'class="revisar-alerta"' %}#}
                                {% endif %}
                                {% set btRevisar = '<span ' ~ onClickRevisar ~ ' ' ~ classRevisar ~ '>[Revisar]</span>' %}
                            {% else %}
                                {% set btRevisar = '' %}
                            {% endif %}

                            {% if estadoFormularioPorCentroEducativo == 'CA' and ( subPregunta.ponderacionMaxima or subPregunta.ponderacion ) %}
                                {% if puntuaciones[subPregunta.idPregunta] is not defined %}
                                    {% set puntuacion = 0.00 %}
                                {% else %}
                                    {% set puntuacion = puntuaciones[subPregunta.idPregunta] %}
                                {% endif %}
                                {% set puntuacionPreg = ( subPregunta.ponderacionMaxima ? subPregunta.ponderacionMaxima : subPregunta.ponderacion ) %}
                                {% if puntuacion < puntuacionPreg %}
                                    {% set clasePuntuacion = 'label-warning' %}
                                {% else %}
                                    {% set clasePuntuacion = 'label-success' %}
                                {% endif %}
                                {% set btPuntuacion = '<span class="label ' ~ clasePuntuacion ~ '">[' ~ puntuacion|number_format(2) ~ ' / ' ~ puntuacionPreg|number_format(2) ~ ' puntos]</span>' %}
                            {% else %}
                                {% set btPuntuacion = '' %}
                            {% endif %}

                            {{ subPregunta.descripcionPregunta }}
                            {% include 'pregunta/showAsForm.html.twig' with {'pregunta': subPregunta} %}
                        </td>
                    {% elseif subPregunta.idTipoPregunta.codTipoPregunta == 'TA' %}
                        </tr>
                        <tr>
                            <td colspan={{ pregunta.cantidadColumnasSubPreguntas }}>
                                {{ subPregunta.descripcionPregunta }}
                                {% include 'pregunta/showAsForm.html.twig' with {'pregunta': subPregunta} %}
                            </td>
                        </tr>
                    {% endif %}
                    {% set idx = idx + 1 %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
        {% if pregunta.jsCargar %}
            <script languaje='javascript'>
                setTimeout(function(){ {{ pregunta.jsCargar|raw }} }, 1000);
            </script>
        {% endif %}

    </div>
</div>
