<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered table-criterio">
            <tbody>
                <tr class="bg-info">
                    <th>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                <tr>
                    <td>
                        {% set checked, disabled2 = '', disabled %}
                        {% if pregunta.opcionNoAplica %}
                            {% if noAplica[pregunta.idPregunta] is defined %}
                                {% set checked, disabled2 = 'checked', 'disabled' %}
                            {% endif %}
                            <label class="btn btn-info btn-xs">
                                <input type='checkbox' class='tipoPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}NoAplica'
                                id='{{ pregunta.idTipoPregunta.codTipoPregunta }}NoAplica_{{ pregunta.idPregunta }}'
                                name='{{ pregunta.idTipoPregunta.codTipoPregunta }}NoAplica_{{ pregunta.idPregunta }}'
                                onClick="$('#{{ id }}').prop('disabled',!$('#{{ id }}').prop('disabled')); if($(this).prop('checked')){ $('#{{ id }}').val(''); }" {{ checked }} {{ disabled }}> {{ pregunta.opcionNoAplicaTexto }}
                            </label>
                        {% endif %}
                        {% if regExp %}
                            <script type="text/javascript">
                                function {{ id }}_regExp(){
                                    if($('#{{ id }}').val()!='' && !$('#{{ id }}').val().match($('#{{ id }}').attr('regExp'))) {
                                        $('#{{ id }}_noValido').addClass('noValido');
                                    }
                                    else {
                                        $('#{{ id }}_noValido').removeClass('noValido');
                                    }
                                }
                                setTimeout('{{ id }}_regExp()', 1000);
                            </script>
                        {% endif %}
                        <textarea class='tipoPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }} form-control' id='{{ id }}' name='{{ id }}' {{ maxLength }} {{ regExp|raw }} {{ (regExp ? 'onBlur="' ~ id ~ '_regExp();"' : '')|raw }} {{ readonly }} {{ disabled2 }}>{{ respuestas[pregunta.idPregunta] ?? null }}</textarea>
                        {% if regExp %}
                            <span id="{{ id }}_noValido" class="noValidoOculto">El valor ingresado no cumple con el formato esperado.</span>
                        {% endif %}
                        {{ btRevisar|raw }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>