<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr class="bg-info">
                    <th>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                <tr>
                    <td>
                        {% for opcion in opciones %}
                            {% if opcion.texto %}
                            <label class="checkbox-inline btn  btn-info">
                                <input type='radio' class='tipoPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}' id='{{ id }}' name='{{ id }}'
                                value='{{ opcion.codigo }}'
                                    {% if pregunta.opcionOtroCampoTexto == 'S' %}
                                        {% if opcion.codigo == 'O' %}
                                            onClick="$('#{{ id }}_Texto').prop('disabled',!$(this).prop('checked'));"
                                        {% else %}
                                            onClick="$('#{{ id }}_Texto').prop('disabled',true);"
                                        {% endif %}
                                    {% endif %}
                                > {{ opcion.texto }}
                                </label>
                            {% endif %}
                        {% endfor %}
                        {% if pregunta.opcionOtroCampoTexto == 'S' %}
                            <input type='text' class='tipoPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}Texto form-control' id='{{ id }}_Texto' name='{{ id }}_Texto' {{ maxLength }} disabled>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
