<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr class="bg-info">
                    <th colspan={{ pregunta.subPreguntas|length + (pregunta.totalesFilas == 'S' or pregunta.totalesColumnas == 'S' ? 1 : 0) }}>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                </tr>
                <tr>
                    {% set columnaFija = null %}
                    {% for subPregunta in pregunta.subPreguntas %}
                        <th>
                            {{ subPregunta.descripcionPregunta }}
                        </th>
                        {% if subPregunta.idTipoPregunta.codTipoPregunta == 'CF' %}
                            {% set columnaFija = subPregunta %}
                        {% endif %}
                    {% endfor %}
                    {% if pregunta.totalesFilas == 'S' %}
                        <th>
                            Total
                        </th>
                    {% endif %}
                </tr>
                {% set sumaFila, sumaFilas, ceroColumnas, sumaColumnas = '', '', '', '' %}
                {% for fila in columnaFija.opcionesRespuesta %}
                    {% set sumaFila, ceroColumnas = '', '' %}
                    <tr>
                        <th>
                            {{ fila.descripcionOpcionRespuesta }}
                        </th>
                        {% for subPregunta in pregunta.subPreguntas %}
                            {% if subPregunta.idTipoPregunta.codTipoPregunta != 'CF' %}
                                <td>
                                    {% include 'pregunta/showAsForm.html.twig' with {'pregunta': subPregunta, 'idFila': fila.idOpcionRespuesta} %}
                                    {% set sumaFila = sumaFila ~ "+parseInt($('#idFila" ~ fila.idOpcionRespuesta ~ "_idColumna" ~ subPregunta.idPregunta ~ "').val())" %}
                                    {% set ceroColumnas = ceroColumnas ~ "$('#subtotalColumna_" ~ subPregunta.idPregunta ~ "').val(0); " %}
                                    {% set sumaColumnas = sumaColumnas ~ "$('#subtotalColumna_" ~ subPregunta.idPregunta ~ "').val(parseInt($('#subtotalColumna_" ~ subPregunta.idPregunta ~ "').val())+parseInt($('#idFila" ~ fila.idOpcionRespuesta ~ "_idColumna" ~ subPregunta.idPregunta ~ "').val())); " %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if pregunta.totalesFilas == 'S' %}
                            <td>
                                <input class="form-control" type='text' id='subtotalFila_{{ fila.idOpcionRespuesta }}' readonly>
                                {% set sumaFila = "$('#subtotalFila_" ~ fila.idOpcionRespuesta ~ "').val(0" ~ sumaFila ~ "); " %}
                                {% set ceroColumnas = ceroColumnas ~ "$('#total_" ~ pregunta.idTipoPregunta.codTipoPregunta ~ '_' ~ pregunta.idPregunta ~ "').val(0); " %}
                            </td>
                        {% endif %}
                    </tr>
                    {% set sumaFilas = sumaFilas ~ sumaFila %}
                {% endfor %}
                {% if pregunta.totalesColumnas == 'S' %}
                    <tr>
                        <th>
                            Total
                        </th>
                        {% for subPregunta in pregunta.subPreguntas %}
                            {% if subPregunta.idTipoPregunta.codTipoPregunta != 'CF' %}
                                <td>
                                    <input class="form-control" type='text' id='subtotalColumna_{{ subPregunta.idPregunta }}' readonly>
                                    {% set sumaColumnas = sumaColumnas ~ "$('#total_" ~ pregunta.idTipoPregunta.codTipoPregunta ~ '_' ~ pregunta.idPregunta ~ "').val(parseInt($('#total_" ~ pregunta.idTipoPregunta.codTipoPregunta ~ '_' ~ pregunta.idPregunta ~ "').val())+parseInt($('#subtotalColumna_" ~ subPregunta.idPregunta ~ "').val())); " %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if pregunta.totalesFilas == 'S' %}
                            <td>
                                <input class="form-control" type='text' id='total_{{ pregunta.idTipoPregunta.codTipoPregunta }}_{{ pregunta.idPregunta }}' readonly>
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% if pregunta.totalesFilas == 'S' or pregunta.totalesColumnas == 'S' %}
        
            <script languaje='javascript'>
                function calcularTotalesPregunta{{ pregunta.idTipoPregunta.codTipoPregunta ~ pregunta.idPregunta }}(){
                    {% autoescape false %}
                        {{ sumaFilas }}
                        {{ ceroColumnas }}
                        {{ sumaColumnas }}
                    {% endautoescape %}
                }
            </script>
        
        {% endif %}
    </div>
</div>
