<div class="col-md-12">
    <div class="table-responsive">
        {% if not pregunta.padreComoPregunta %}
            {{ btPuntuacion|raw }}
        {% endif %}
        <table class="table table-bordered table-criterio">
            <tbody>
                <tr class="bg-info">
                    <th  colspan={{ colspanDescripcion }}>
                        {{ pregunta.idSeccion.codSeccion ~ '.' ~ pregunta.codPregunta ~ ' ' ~ pregunta.descripcionPregunta }}
                    </th>
                    {% if pregunta.padreComoPregunta %}
                        <td>
                            {% for opcion in opciones %}
                                {% if opcion.texto %}
                                    {% if respuestas[pregunta.idPregunta] is defined and respuestas[pregunta.idPregunta]==opcion.codigo %}
                                        {% set checked = 'checked' %}
                                    {% else %}
                                        {% set checked = '' %}
                                    {% endif %}
                                    <label class="checkbox-inline btn btn-info btn-xs">
                                        <input type='radio' class='subPregunta{{ pregunta.idTipoPregunta.codTipoPregunta }}' id='{{ id }}' name='{{ id }}'
                                        value='{{ opcion.codigo }}' {{ checked }} {{ disabled }}>{{ opcion.texto }}
                                    </label>
                                {% endif %}
                            {% endfor %}
                            {{ btRevisar|raw }}
                            {{ btPuntuacion|raw }}
                        </td>
                    {% endif %}
                </tr>
                {% set sumaColumnas = '' %}
                {% set subTotalColumnaId = "total_" ~ pregunta.idTipoPregunta.codTipoPregunta ~ "_" ~ pregunta.idPregunta %}
                {% for subPregunta in pregunta.subPreguntas %}
                    {% set subId = "idFila_idColumna" ~ subPregunta.idPregunta %}
                    {% if subPregunta.encabezadoSubPreguntas %}
                        <tr>
                            <td colspan={{ colspanDescripcion + 1 }}>
                                {{ subPregunta.encabezadoSubPreguntas }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        {% if estadoFormularioPorCentroEducativo in ['RE','CO','TE','AP'] and ( idFormularioPorCentroEducativoRevisar or revisar[subPregunta.idPregunta] is defined ) %}
                            {% if idFormularioPorCentroEducativoRevisar %}
                                {% set onClickRevisar = 'onClick="marcarRevisar($(this),' ~ idFormularioPorCentroEducativoRevisar ~ ',' ~ subPregunta.idPregunta ~ ');"' %}
                            {% else %}
                                {% set onClickRevisar = '' %}
                            {% endif %}
                            {% if revisar[subPregunta.idPregunta] is defined %}
                               {# {% set classRevisar = 'class="revisar-alerta revisar-item"' %}#}
                               {% set classRevisar = 'class="cursor label label-warning"' %}
                            {% else %}
                                {#{% set classRevisar = 'class="revisar-alerta"' %} #}
                                {% set classRevisar = 'class="cursor label label-success"' %}
                            {% endif %}
                            {% set btRevisar = '<span ' ~ onClickRevisar ~ ' ' ~ classRevisar ~ '>[Revisar]</span>' %}
                        {% else %}
                            {% set btRevisar = '' %}
                        {% endif %}

                        {% if estadoFormularioPorCentroEducativo == 'CA' and ( subPregunta.ponderacionMaxima or subPregunta.ponderacion ) %}
                            {% if puntuaciones[subPregunta.idPregunta] is not defined %}
                                {% set puntuacion = 0.00 %}
                            {% else %}
                                {% set puntuacion = puntuaciones[subPregunta.idPregunta] %}
                            {% endif %}
                            {% set puntuacionPreg = ( subPregunta.ponderacionMaxima ? subPregunta.ponderacionMaxima : subPregunta.ponderacion ) %}
                            {% if puntuacion < puntuacionPreg %}
                                {% set clasePuntuacion = 'label-warning' %}
                            {% else %}
                                {% set clasePuntuacion = 'label-success' %}
                            {% endif %}
                            {% set btPuntuacion = '<span class="label ' ~ clasePuntuacion ~ '">[' ~ puntuacion|number_format(2) ~ ' / ' ~ puntuacionPreg|number_format(2) ~ ' puntos]</span>' %}
                        {% else %}
                            {% set btPuntuacion = '' %}
                        {% endif %}

                        {% if numerarSubPreguntas == 'S' %}
                            <td>
                                {{ loop.index }}
                            </td>
                        {% endif %}
                        {% include 'pregunta/showAsForm.html.twig' with {'pregunta': subPregunta} %}
                        {% if pregunta.totalesColumnas == 'S' %}
                            {% set sumaColumnas = sumaColumnas ~ "$('#" ~ subTotalColumnaId ~ "_S').val(
                                ($.isNumeric($('#" ~ subTotalColumnaId ~ "_S').val())?parseFloat($('#" ~ subTotalColumnaId ~ "_S').val()):0)+
                                ($('#" ~ subId ~ "_S').prop('checked')?1:0)
                            ); " %}
                            {% set sumaColumnas = sumaColumnas ~ "$('#" ~ subTotalColumnaId ~ "_N').val(
                                ($.isNumeric($('#" ~ subTotalColumnaId ~ "_N').val())?parseFloat($('#" ~ subTotalColumnaId ~ "_N').val()):0)+
                                ($('#" ~ subId ~ "_N').prop('checked')?1:0)
                            ); " %}
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if pregunta.totalesColumnas == 'S' %}
                    <tr>
                        <td colspan={{ colspanDescripcion - 1 }}>
                            Total
                        </td>
                        <td>
                            <input type='text' id='{{ subTotalColumnaId }}_S' readonly>
                            <input type='text' id='{{ subTotalColumnaId }}_N' readonly>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% if pregunta.totalesColumnas == 'S' %}
            <script languaje='javascript'>
                function calcularTotalesPregunta{{ pregunta.idTipoPregunta.codTipoPregunta ~ pregunta.idPregunta }}(control){
                    if(control && control.attr('type')=='text' && !$.isNumeric(control.val())){
                        control.val('');
                    }
                    $('#{{ subTotalColumnaId }}_S').val(0);
                    $('#{{ subTotalColumnaId }}_N').val(0);
                    {{ sumaColumnas|raw }}
                }
                setTimeout(function(){ calcularTotalesPregunta{{ pregunta.idTipoPregunta.codTipoPregunta ~ pregunta.idPregunta }}(null); }, 1000);
            </script>
        {% endif %}
    </div>
</div>
