{#{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
{% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock fos_user_content %}#}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 text-center">
        <h2 class="sin-margin">
            {% block titulo %}
               Cambiar clave de acceso
            {% endblock %}
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-12">
        <div class="header-control-general">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-registro form-border','id':'form_cambio_clave' } }) }}
                <div class="form-group">
                    {{ form_label(form.current_password) }}
                    {{ form_widget(form.current_password, {'attr': {'class': 'form-control input-3', 'placeholder': 'Digite su clave actual'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-3', 'placeholder': 'Digite su nueva clave', 'required': 'required'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-3', 'placeholder': 'Confirmar clave', 'required': 'required'}}) }}
                </div>
                <div class="btn-group" role="group">
                    <button class="btn  btn-success" type="submit" value="Cambiar clave"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Cambiar clave</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}




