{% extends 'base.html.twig' %}
{% block body %}
     <div class="col-md-12 text-center">
        <h2 class="sin-margin">
            Lista de formularios por dictaminar
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-12">
        <div class="header-control-general">
            <form id="registrarAcreditacion" method="POST" action="{{ path('centro_educativo_acreditacion_acreditar') }}">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-1">
                                    Código
                                </th>
                                <th class="col-sm-4">
                                    Nombre del centro educativo
                                </th>
                                <th class="col-sm-2 text-center">
                                    Puntuación parvularia
                                </th>
                                <th class="col-sm-2 text-center">
                                    Puntuación básica y media
                                </th>
                                <th class="col-sm-1 text-center">
                                    Puntuación promedio
                                </th>
                                <th class="col-sm-1 text-center">
                                    Estado
                                </th>
                                <th class="col-sm-1 text-center">
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set validacion = '' %}
                            {% for centroEducativo in centrosEducativos %}
                                <tr>
                                    <td>
                                        {{ centroEducativo.codCentroEducativo }}
                                    </td>
                                    <td>
                                        {{ centroEducativo.nbrCentroEducativo ~ (centroEducativo.direccionCentroEducativo ? ', ' ~ centroEducativo.direccionCentroEducativo : null) }}
                                    </td>
                                    <td class="text-center">
                                        {{ centroEducativo.puntuacionParvularia is defined ? centroEducativo.puntuacionParvularia|number_format(2) : null }}
                                    </td>
                                    <td class="text-center">
                                        {{ centroEducativo.puntuacionBasica is defined ? centroEducativo.puntuacionBasica|number_format(2) : null }}
                                    </td>
                                    <td class="text-center">
                                        {% set promedio = (((centroEducativo.puntuacionParvularia is defined ? centroEducativo.puntuacionParvularia : 0) +
                                            (centroEducativo.puntuacionBasica is defined ? centroEducativo.puntuacionBasica : 0)) /
                                            ((centroEducativo.puntuacionParvularia is defined ? 1 : 0) + (centroEducativo.puntuacionBasica is defined ? 1 : 0))) %}
                                        {{ promedio|number_format(2) }}
                                    </td>
                                    <td class="text-center">
                                        {% if centroEducativo.codEstadoFormulario == 'CA' %}
                                            <span class="label label-success">
                                                <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="top" title="{{ centroEducativo.nbrEstadoFormulario }}"></span>
                                            </span> 
                                        {% else %}
                                            <span class="label label-success">
                                                <span class="glyphicon glyphicon-tags" data-toggle="tooltip" data-placement="top" title="{{ centroEducativo.nbrEstadoFormulario }}"></span>
                                            </span> 
                                        {% endif %}
                                        <br />
                                        {{ centroEducativo.nbrEstadoFormulario }}
                                    </td>
                                    <td class="text-center">
                                        <div class="form-group">
                                        {% set validacion = validacion ~ " || $('#dictamen" ~ centroEducativo.idCentroEducativo ~ ":checked').val()!=undefined" %}
                                        {% if centroEducativo.codEstadoFormulario == 'CA' %}
                                            {% if promedio >= arrayLimites.min and promedio <= ( arrayLimites.med1 + arrayLimites.margen ) %}
                                                <label class="checkbox-inline btn btn-info">
                                                    <input type='radio' id='dictamen{{ centroEducativo.idCentroEducativo }}' name='dictamen{{ centroEducativo.idCentroEducativo }}' value='NA' >
                                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> No acreditado
                                                </label>
                                            {% endif %}
                                            {% if promedio >= ( arrayLimites.med1 - arrayLimites.margen ) and promedio <= ( arrayLimites.med2 + arrayLimites.margen ) %}
                                                <label class="checkbox-inline btn btn-info">
                                                    <input type='radio' id='dictamen{{ centroEducativo.idCentroEducativo }}' name='dictamen{{ centroEducativo.idCentroEducativo }}' value='AO' >
                                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Acreditado con observaciones
                                                </label>
                                            {% endif %}
                                            {% if promedio >= ( arrayLimites.med2 - arrayLimites.margen ) and promedio <= arrayLimites.max %}
                                                <label class="checkbox-inline btn btn-info">
                                                    <input type='radio' id='dictamen{{ centroEducativo.idCentroEducativo }}' name='dictamen{{ centroEducativo.idCentroEducativo }}' value='AC' >
                                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Acreditado
                                                </label>
                                            {% endif %}
                                        {% elseif centroEducativo.acreditado in ['A','N'] %}
                                            {% if centroEducativo.acreditado == 'A' %}
                                                {% set action = path('reporte_diploma') %}
                                            {% elseif centroEducativo.acreditado == 'N' %}
                                                {% set action = path('reporte_noAcreditado') %}
                                            {% endif %}
                                            <button type="submit" class="btn btn-info btn-md" href="#" onClick="return reporteAcreditado('{{ action }}',{{ centroEducativo.fechaAplicacion }},{{ centroEducativo.idCentroEducativo }});"><span class="glyphicon glyphicon-save-file"></span> Reporte</button>
                                        {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                <div class="form-group">                                
                    <label for="fechaInicio">Fecha de inicio</label>
                    <div class='input-group date' id='fecha'>
                        <input type='text' id="fechaInicio" name="fechaInicio" class="form-control" placeholder="Digite la fecha, ejem: 06-10-2016" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-12 text-center">
                    <div class="form-group text-center"> 
                        <button type="submit" class="btn btn-info btn-md" onClick="return validarRegistrarAcreditacion();"><span class="glyphicon glyphicon-ok"></span> Registrar acreditación</button>
                    </div>
                </div>
            </form>
            <form id="acreditado" method="post" action="" target="_blank">
                <input type="hidden" id="anio" name="anio" value="">
                <input type="hidden" id="idCentroEducativo" name="idCentroEducativo" value="">
            </form>
            <script type="text/javascript">
                function reporteAcreditado(action,anio,idCentroEducativo){
                    $('#acreditado').prop('action',action);
                    $('#anio').val(anio);
                    $('#idCentroEducativo').val(idCentroEducativo);
                    $('#acreditado').submit();
                    return false;
                }

                function validarRegistrarAcreditacion(){
                    if((false{{ validacion|raw }}) && $('#fechaInicio').val()!=''){
                        return true;
                    }
                    return false;
                }
            </script>
        </div>
    </div>
{% endblock %}
