{% extends 'base.html.twig' %}

{% set documento='lista-formulario-aprobados-evaluados.png' %}
{% block body %}
     <div class="col-md-12 text-center">                                            
        <h2 class="sin-margin">
            Lista de formularios aprobados y evaluados
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-12">
        <div class="header-control-general">
            <div class="table-responsive">
                <table class="table table-bordered table-hover"> 
                    <thead> 
                        <tr> 
                            <th class="col-sm-1">
                                Código
                            </th> 
                            <th class="col-sm-4">
                                Nombre del centro educativo
                            </th> 
                            <th class="col-sm-3">
                               Nombre de formulario
                            </th>
                            <th class="col-sm-2">
                                Digitador
                            </th>
                            <th class="col-sm-1 text-center">
                                Estado
                            </th>
                            <th class="col-sm-1 text-center">
                                Acción
                            </th>
                        </tr> 
                    </thead> 
                    <tbody>
                        {% for form in lista %}
                            <tr> 
                                <td>
                                    {{ form.codCentroEducativo }}
                                </td> 
                                <td>
                                    {{ form.nbrCentroEducativo ~ (form.direccionCentroEducativo ? ', ' ~ form.direccionCentroEducativo : null) }}
                                </td> 
                                <td>
                                    {{ form.nbrFormulario }}
                                </td>
                                <td>
                                    {{ form.nombres ~ ' ' ~ form.apellidos }}
                                </td>
                                <td class="text-center">
                                    {% if form.codEstadoFormulario == 'AP' %}
                                        {{ form.nbrEstadoFormulario }}
                                    {% elseif form.codEstadoFormulario == 'CA' %}
                                    <span class="label label-success">
                                        <span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="top" title="{{ form.nbrEstadoFormulario }}"></span>
                                    </span> 
                                    {{ form.nbrEstadoFormulario }}

                                    {% endif %}
                                    {#<span class="glyphicon glyphicon-ok btn btn-success" data-toggle="tooltip" data-placement="top" title="Aprobado"></span> Evaluado#}
                                </td>
                                <td class="text-center">
                                    
                                    {% if form.codEstadoFormulario == 'CA' %}
                                    <form id="versionParaCoordinador{{ form.idFormularioPorCentroEducativo }}" action="{{ path('reporte_informe_cuantitativo') }}" method="post" target="_blank">
                                        <input type="hidden" name="anno" value="{{ form.fechaAplicacion }}">
                                        <input type="hidden" name="centrosEducativo" value="{{ form.idCentroEducativo }}">
                                        <input type="hidden" name="formato" value="pdf">
                                        <input type="hidden" name="versionParaCoordinador" value="1">
                                    </form>
                                    <a href="#" onClick="$('#versionParaCoordinador{{ form.idFormularioPorCentroEducativo }}').submit();" class="btn btn-info btn-block">Reporte el para coordinador</a>
                                    
                                    {% if form.estadoCriterioCentroEducativo=='TER' %}
                                    <a href="{{path('centro_educativo_criterio_observaciones_ver',{'id':form.idCentroEducativo,'form':form.idFormulario})}}" class="btn btn-success btn-block">
                                       <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Observación
                                    </a>
                                    
                                    {% elseif form.estadoCriterioCentroEducativo=='EDIT'%}
                                    
                                    <a href="{{path('centro_educativo_criterio_observaciones_editar',{'id':form.idCentroEducativo,'form':form.idFormulario})}}" class="btn btn-success btn-block">
                                       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Observación
                                    </a>
                                    {% else %}
                                    <a href="{{path('centro_educativo_criterio_observaciones',{'id':form.idCentroEducativo,'form':form.idFormulario})}}" class="btn btn-success btn-block">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Observación
                                    </a>
                                    {% endif %}
                                    
                                    {% endif %}

                                    <form id="mostrarSecciones{{ form.idFormularioPorCentroEducativo }}" action="{{ path('seccion_index') }}" method="post">
                                        <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ form.idFormularioPorCentroEducativo }}">
                                    </form>
                                    <a href="#" onClick="$('#mostrarSecciones{{ form.idFormularioPorCentroEducativo }}').submit();" class="btn btn-info btn-block">Mostrar</a>
                                    
                                    
                                    
                                    {% if form.codEstadoFormulario == 'AP' %}
                                        <form id="calificar" method="POST" action="{{ path('formulario_calificar') }}">
                                            <input type="hidden" name="idFormularioPorCentroEducativo" value="{{ form.idFormularioPorCentroEducativo }}">
                                        </form>
                                        <a href="#" onClick="$('#calificar').submit();" class="btn btn-success btn-block">Calificar</a>
                                    {% else %}
                                        <!--<a href="" class="btn btn-success btn-block disabled">Calificar</a>-->
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody> 
                </table>
            </div>            
        </div>
    </div>
{% endblock %}
