{% extends 'base.html.twig' %}
{% block body %}
     <div class="col-md-12 text-center">                                            
        <h2 class="sin-margin">
            Lista de formularios por revisar
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-12">
              <div class="header-control-general">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover"> 
                                <thead> 
                                    <tr> 
                                        <th class="col-sm-1">
                                            Código
                                        </th> 
                                        <th class="col-sm-4">
                                            Nombre del centro educativo
                                        </th> 
                                        <th class="col-sm-4">
                                           Nombre de formulario
                                        </th>
                                        <th class="col-sm-2">
                                            Digitador
                                        </th>
                                        <th class="col-sm-1 text-center">
                                            Estado
                                        </th>
                                        <th class="col-sm-1 text-center">
                                            Acción
                                        </th>
                                    </tr> 
                                </thead> 
                                <tbody>

                                    {% for form in lista %}
                                        <tr> 
                                            <td>
                                                {{ form.codCentroEducativo }}
                                            </td> 
                                            <td>
                                                {{ form.nbrCentroEducativo ~ (form.direccionCentroEducativo ? ', ' ~ form.direccionCentroEducativo : null) }}
                                            </td> 
                                            <td>
                                                {{ form.nbrFormulario }}
                                            </td>
                                            <td>
                                                {{ form.nombres ~ ' ' ~ form.apellidos }}
                                            </td>
                                            <td class="text-center">
                                                {% if form.codEstadoFormulario == 'TE' %}
                                                    {{ form.nbrEstadoFormulario }}
                                                {% elseif form.codEstadoFormulario == 'AP' %}
                                                    <span class="glyphicon glyphicon-ok btn btn-success" data-toggle="tooltip" data-placement="top" title="Aprobado"></span> Aprobado
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
{{ form.idFormularioPorCentroEducativo }}
                                                <form id="mostrarSecciones{{ form.idFormularioPorCentroEducativo }}" action="{{ path('seccion_index') }}" method="post">
                                                    <input type="hidden" name="idFormularioPorCentroEducativoRevisar" value="{{ form.idFormularioPorCentroEducativo }}">
                                                </form>
                                                <a href="#" onClick="$('#mostrarSecciones{{ form.idFormularioPorCentroEducativo }}').submit();" class="btn btn-info btn-block">Mostrar</a>
                                                {% if form.codEstadoFormulario == 'TE' %}
                                                    <a href="" class="btn btn-success btn-block">Aprobar</a>
                                                    <a href="" class="btn btn-warning btn-block">Rechazar</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody> 
                            </table>
                        </div>
                        
                    </div>
        
        
        
    </div>
{% endblock %}
