{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">                                            
        <div class="table-responsive">
            <h2 class="sin-margin text-center">
                Registrar colegiatura
            </h2>
            <div class="capa-separador-1"></div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="col-sm-2 bg-success text-right">
                       <strong>
                           Código:
                       </strong>
                    </td>
                    <td>
                        {{ce_show.codCentroEducativo}}
                    </td>
                </tr> 
                <tr>
                    <td class="col-sm-2 bg-success text-right">
                       <strong>
                           Centro educativo:
                       </strong>
                    </td>
                    <td>
                        {{ce_show.nbrCentroEducativo}}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-12">
        <div class="header-control-general">
            <form class="form-registro form-border" method="post" action="{{path('centro_educativo_cuota_guardar')}}" id="form_validar_cuota_agregar">
                <div class="form-group">
                                                    
                    <label for="departamentos">Grado</label>
                    <input type="hidden" name="idce" id="idce" value="{{ce_show.IdCentroEducativo}}" />
                    <select class="form-control input-3" id="grado" name="grado">
                        <option value="0">Seleccione uno</option>
                        {% for nxg in nivelxgrado %}
                            <optgroup label="{{ nxg.nbrNivelEducativo }}">
                              
                                       {% for grado in nxg.gradosEscolares %}
                                            <option value="{{ grado.IdGradoEscolar }}">
                                                {{ grado.nbrGradoEscolar }}
                                            </option>
                                        {% endfor %}
                                   
                              
                            </optgroup>
                        {% endfor %}
                         
                         
                    </select>                                
                </div>
                <div class="form-group">
                    <div class = "input-group">
                        <label for="matricula">Matrícula</label>
                    </div>
                    <div class = "input-group">
                        <span class = "input-group-addon">$</span>
                        <input type="text" class="form-control input-2" id="matricula" name="matricula" placeholder="Digite el costo de la matrícula">
                    </div>
                </div>
                <div class="form-group">
                    <div class = "input-group">
                        <label for="cuota">Colegiatura</label>
                    </div>
                    <div class = "input-group">
                        <span class = "input-group-addon">$</span>
                        <input type="text" class="form-control input-2" id="cuota" name="cuota" placeholder="Digite la colegiatura mensual">
                    </div>
                </div>
                <div class="form-group">                                
                    <label for="cantidadCuotas">Cantidad de colegiaturas</label>
                    <input type="text" class="form-control input-2" id="cantidadCuotas" name="cantidadCuotas" placeholder="Digite la cantidad de colegiaturas">             
                </div>
                <div class="form-group">                                
                    <label for="fechaAplicacion">Año</label>
                    <div class='input-group date input-3' id='fecha_annio'>
                        <input type='text' id="anno" name="anno" class="form-control" placeholder="Digite el año"/>
                         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                         </span>
                    </div>                               
                </div>
                <div class="form-group"> 
                 <div class="btn-group" role="group">
                        <a class="btn btn-info" href="{{path('centro_educativo_cuotas', {'id':ce_show.idCentroEducativo})}}">
                            <span class="glyphicon glyphicon-triangle-left"></span> 
                            Regresar
                        </a>
                    <button type="submit" class="btn btn-success btn-md"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                    </div>
                </div>
                
                                                     
            </form> 
        </div>
       
    </div>
{% endblock %}
