{% extends 'base.html.twig' %}
{% block body %}
     <div class="col-md-12 text-center">                                            
        <h2 class="sin-margin">
            Centros educativo digitar o corregir formulario
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    <div class="col-md-12">
        <div class="header-control-general">
            <form class="form-registro form-border" method="post" action="{{ path('centro_educativo_form_dig_corr_cargar') }}" id="form_dig_corregir">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="centrosEducativos">Centro educativo</label>
                        <select class="form-control" id="centrosEducativos" name="centrosEducativos">
                            <option value="0">Seleccione uno</option>
                            {% for ced in lista_ced %}
                            <option value="{{ ced.idCentroEducativo }}">{{ ced.codCentroEducativo ~ ' ' ~ ced.nbrCentroEducativo }}</option>
                             {% endfor %}                             
                        </select>                                
                    </div>
                     <div class="form-group">                                
                    <label for="lugarAplicacion">Lugar</label>
                    <input type="text" class="form-control" id="lugarAplicacion" name="lugarAplicacion" placeholder="Digite el lugar">                                
                </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="formularios">Formulario</label>
                        <select class="form-control" id="formularios" name="formularios">
                            <option value="0">Seleccione uno</option>
                            {% for form in lista_form %}
                            <option value="{{ form.idFormulario }}">{{ form.codFormulario ~ ' ' ~ form.nbrFormulario }}</option>
                             {% endfor %}                             
                        </select>                                
                    </div>
                    <div class="form-group">                                
                    <label for="fechaAplicacion">Fecha</label>
                    <div class='input-group date' id='fecha'>
                        <input type='text' id="fechaAplicacion" name="fechaAplicacion" class="form-control" placeholder="Digite la fecha, ejem: 06-10-2016" />
                         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                         </span>
                    </div>                               
                </div>
                    
                </div>
                <div class="col-sm-12 text-center">
                <div class="form-group text-center"> 
                {#onClick="return digitarCorregirCargarFormulario();"#}
                    <button type="submit" class="btn btn-info btn-md" ><span class="glyphicon glyphicon-th-list"></span> Cargar formulario</button>
                </div>
                </div>
                <div class="clearfix"></div>
            </form>
      </div>
    </div>
{% endblock %}
