{% extends 'base.html.twig' %}
{% block body %}

    <div class="col-md-12 text-center">
        <h2 class="sin-margin">
            Reporte de actividad de usuarios
        </h2>
        <div class="clearfix capa-separador-1 border-bottom"></div>
        <div class="capa-separador-1"></div>
    </div>
    
    <div class="col-md-12">
        <div class="header-control-general">
            <form class="form-registro form-border" method="post" action="{{ path('reporte_actividad_usuario') }}" target="_blank" id="reporte_actividad_usuario">
                <div class="col-sm-6">
                    {% include 'reportes/fecha.html.twig' with {'label': 'Fecha inicial', 'id': 'fechaIni'} %}
                    {% include 'reportes/fecha.html.twig' with {'label': 'Fecha final', 'id': 'fechaFin'} %}
                    
                    
                    <div class="form-group">
                        <label for="idUsuario">
                            Usuario
                        </label>
                            <select id="idUsuario" name="idUsuario" class=" form-control input-1">
                                <option value="">Seleccione uno</option>
                                {% for usuario in usuarios %}
                                    <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    
                    
                    
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="idTipoAccionUsuario">
                            Tipo de acción
                        </label>
                        
                            <select id="idTipoAccionUsuario" name="idTipoAccionUsuario" class="form-control input-1">
                                <option value="">Seleccione uno</option>
                                {% for tipoAccion in tiposAccion %}
                                    <option value="{{ tipoAccion.idTipoAccionUsuario }}">{{ tipoAccion.descripcionTipoAccionUsuario }}</option>
                                {% endfor %}
                            </select>
                        
                    </div>
                    
                    
                    
                    <div class="form-group">
                        <label for="detalle">
                            Detalle
                        </label>
                       
                            <input type="text" name="detalle" id="detalle" class="form-control input-1">
                        
                    </div>
                    {% include 'reportes/formato.reporte.html.twig' %}
                </div>
                <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-info btn-md"><span class="glyphicon glyphicon-th-list"></span> Generar</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    
{% endblock %}
